*,
* ::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  color: #637588;
  font-size: 16px;
  overflow-y: scroll;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 3.75rem;
  letter-spacing: 0.08em;
  font-weight: 300;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}
.btn {
  min-width: 250px;
  height: 60px;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADER */
.header {
  display: grid;
  align-content: center;
  position: relative;
  background-color: #2d3651;
  color: #ffffff;
  min-height: 100vh;
  background-image: url(../img/img-header.png);
  background-size: cover;
  background-position: center;
}

.header-content {
  position: relative;
  z-index: 1;
}

.header-content__container,
.header-menu__container {
  max-width: 1340px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header-content__title {
  margin: 0 0 51px;
}

.header-content__actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header-menu {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

.header-menu__container {
  display: flex;
}

.header-logo {
}
.header-logo__link {
}
.header-logo__accent {
}

.header-navbar {
}
.header-navbar__btn {
  display: none;
}
.header-navbar__list {
}
.header-navbar__item {
}
.header-navbar__link {
}

.header-overlay {
  background-color: #2d3651;
  position: absolute;
  inset: 0;
  opacity: 0.8;
}
